{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

<span>User: {{request.user.phone}}</span>
<span style="margin-left: 50px;">Your code: {{ request.user.referral_code }}</span>
<br>
{% if referral %}
<span>User who invite you: {{referral.user_id}}</span>
{% else %}
<form method="POST" enctype="multipart/form-data" class="mt-3 " autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-4"> {{ form.referral_code | as_crispy_field }}</div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm mt-3" style="width: 90px;">Confirm</button>
</form>
{% endif %}
<br>
<ul>
    {% for inv in rec %}
    <li>Users who invited by you: {{inv.referrals}}</li>
    {% endfor %}
</ul>

{% endblock %}